:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  font-size: 86px;
  margin: 0;
  display: block;
  font-weight: bold;
  color: blue;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  text-align: center;
  opacity: 0.65;
}

h4 {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.about-me-paragraphs {
  display: flex;
  justify-content: center;
}

.about-me-paragraphs p {
  margin: 10px;
}

.links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.contact-link {
  border: 1px solid;
  background-color: var(--primary-color);
  box-shadow: --var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: white;
}

.link-homepage {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}



.weatherlink {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.altalink {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.elmolink {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.hero {
  background: #f9f7fe;
  text-align: center;
    text-align: center;
    padding: 65px 20px;
}



.row1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 400px;
}

h5 {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.btn-branding {
    background: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 15px;
    text-align: center;
   
}

h6 {
  font-weight: normal;
  font-size: 44px;
  color: black;
  text-align: center;
  
}

#home{
  font-weight: normal;
  font-size: 40px;
  color: black;
  text-align: center;
 
}

#work{
  font-weight: normal;
  font-size: 25px;
  color: black;
  text-align: center;
 
}

